*{
    background-color: black;
}
input{
    width: 400px;
    height: 45px;
    border-style: none;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
    border-color: green;
    color: green;
}
.cod{
    width: 1440px;
    height: 781px;
}
.inputs{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    padding: 10px;
}
.boss{
    background-color: transparent;
    position: absolute;
    top: 180px;
    left: 80px;
}
.submit{
    width: 300px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-left: 57px;
    border-radius: 4px;
}
.submit:hover{
    color: green;
    border: 2px solid green;
}
.submit:active{
    opacity: 60%;
}
